<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{index . "webSiteName"}}</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <script src="/static/js/bootstrap.min.js"></script>
  <script>
  </script>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">{{.webSiteName}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link {{if eq .categoryId 0}} active {{end}}" aria-current="page" href="/">首页</a>
            </li>
            {{range $index, $category := .categoryList}}
              <li class="nav-item">
                <a class="nav-link {{if eq $category.Value $.categoryId }} active {{end}}" href="/article/list?categoryId={{ $category.Value }}">{{ $category.Title }}</a>
              </li>
            {{end}}
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="请输入搜索内容" aria-label="Search">
            <button class="btn btn-outline-success" style="width: 100px;" type="submit">搜索</button>
          </form>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="album py-5" style="margin-top: 30px;">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {{range $index, $item := .pagination.Data}}
        <a href="/article/detail?id={{ $item.Id }}" style="color: #333;text-decoration: none;" target="_blank">
          <div class="col">
            <div class="card shadow-sm">
              <div class="bd-placeholder-img card-img-top" width="100%" height="225"><img width="100%" height="225" src="{{ $item.CoverIds }}"></div>
              <div class="card-body">
                <p class="card-text">{{ $item.Title }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted"></small>
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">查看</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        {{end}}
        </div>
      </div>
    </div>
    <div class="text-center" style="display:flex;justify-content: center;">
      <ul class="pagination">
        {{range $index, $item := .pagination.Items}}
          <li class="page-item {{if $item.Active}} active {{end}}">
            <a class="page-link" href="{{ $item.Url }}">
              {{ $item.Title }}
            </a>
          </li>
        {{end}}
      </ul>
    </div>
  </main>
  <footer class="text-center" style="height: 80px; line-height: 80px;">
    copyright &copy; 2024
  </footer>
</body>
</html>